<div class="container">
<div class="row align-items-center">	
	<div class="col-6">
	<ul>
<!-- 		{{ dump(object) }} -->
		{% for key,property in object %}
			{% if property is empty %}
			{% else %} 	
			<li>{{key}}: {{ property }}</li>
			{% endif %}
		{% endfor %}
	</ul>
	</div>	
</div>	
</div>
